body{
    margin: 0%;
    font-family: sans-serif;
    text-decoration: none;
    padding: 0%;
}

.go{
    font-size: 20px;
    color: white;
}

.atas{
    background-image: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% );
    padding: 2px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.nav a{
    margin: 15px;
     text-decoration: none;
     color: rgb(255, 255, 255);
     font-size: 15px;
     padding: 15px;
 }

 .kotak{
    padding: 260px;
    background-image: linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(127,16,16,1) 103.9% );
    display: flex;
}

footer{
    background: #343434;
    padding-top: 50px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
footer-content p{
    width: 150px;
    margin: auto;
    padding: 7px;
}
footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
    text-decoration: none;
}